
<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- a -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9431984285042586"
     data-ad-slot="5601929981"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>

<script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- vivek -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-9431984285042586"
     data-ad-slot="4612304996"
     data-ad-format="auto"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>


